:root{
    --bg-clr-primary: #FF7B54;
    --text-clr-primary: #fff;

    --font-family: "inter", serif;
}
body{
    background-color: var(--bg-clr-primary);
    color: var(--text-clr-primary);
    font-family: var(--font-family);
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style-type: none;
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 2.5rem;
    align-items: center;
    padding: 0 36px;
}
.nav{
    justify-self: end;
}
.header__link{
    font-size: 40px;
    font-weight: bold;
}
.nav__ul{
    display: flex;
}
.nav__ul-list{
    margin-inline-end: 2.5rem;
    font-size: 20px;
}